/* Adapted from https://ihatetomatoes.net/how-to-create-css-glitch-effect/ */

.glitch
{
	font-family: 'Pixel', sans-serif;
	font-size: 25px;
	position: relative;
}

.glitch::before
{
	display: block;
	content:attr(text);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: .8;
	color: #0ff;
	z-index: -1;
}

.glitch.emoji::before
{
	color: transparent;
	text-shadow: 0 0 0 #0ff;
}

.glitch::after
{
	display: block;
	content:attr(text);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: .8;
	color: #f0f;
	z-index: -2;
}

.glitch.emoji::after
{
	color: transparent;
	text-shadow: 0 0 0 #f0f;
}

@keyframes glitch
{
	0% {
		transform: translate(0);
	}
	20% {
		transform: translate(-5px, 5px)
	}
	40% {
		transform: translate(-5px, -5px)
	}
	60% {
		transform: translate(5px, 5px)
	}
	80% {
		transform: translate(5px, -5px)
	}
	to {
		transform: translate(0)
	}
}

.glitch:hover::before
{
	animation: glitch .4s cubic-bezier(.25, .46, .45, .94) both infinite
}

.glitch:hover::after
{
	animation: glitch .4s cubic-bezier(.25, .46, .45, .94) reverse both infinite
}
