@font-face
{
  font-family: 'Pixel';
  font-style: normal;
  font-weight: 300;
  src: local('LLPIXEL3'), url('font/LLPIXEL3.ttf');
}

@font-face
{
  font-family: 'Pixel-LCD';
  font-style: normal;
  font-weight: 300;
  src: local('Pixel-LCD-7'), url('font/Pixel-LCD-7.ttf');
}

body
{
  background: url("../images/background.gif") no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

#centered
{
  position: absolute;
  top: 28%;
  left: 53%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.content-container
{
  position: absolute;
  top: 42%;
  left: 53.5%;
  transform: translate(-50%, -50%);
}

.content
{
  position: flex;
}

.hide
{
  display: none;
}

.icons
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px 40px;
  flex-direction: row;
  align-content: flex-start;
}

.container
{
  width: 65px;
  height: 65px;
  margin: 20px;
}

.container img
{
  width: 100%;
  height: auto;
  opacity: .5;
}

img:hover
{
  opacity: .7;
}

h1
{
  font-family: 'Pixel-LCD', sans-serif;
  color: #d3d3d3;
  opacity: .6;
  border-bottom: 3px solid;
  text-align: center;
  text-shadow: -1px -1px 0  #000, 1px -1px 0  #000, -1px 1px 0  #000, 1px 1px 0  #000;
  z-index: 1;
}

.items, a
{
  display: flex;
  text-decoration: none;
}

.items
{
  list-style: none;
  margin-left: -25px;
}

li
{
  color:  #d3d3d3;
  margin:0 20px;
  text-shadow: -1px -1px 0  #000, 1px -1px 0  #000, -1px 1px 0  #000, 1px 1px 0  #000;
  font-size: 25px;
  font-family: 'Pixel', sans-serif;
  opacity: .6;
}
