@font-face
{
	font-family: 'Pixel';
	font-style: normal;
	font-weight: 300;
	src: local('LLPIXEL3'), url('font/LLPIXEL3.ttf');
}

@font-face
{
	font-family: 'Pixel-LCD';
	font-style: normal;
	font-weight: 300;
	src: local('Pixel-LCD-7'), url('font/Pixel-LCD-7.ttf');
}

button
{
	background-color: transparent;
	color: #d3d3d3;
	border: none;
	opacity: .8;
	font-family: 'Pixel', sans-serif;
	font-size: 16px;
	margin:auto;
	z-index: 1;
}

input
{
	margin:auto;
	width: 20px;
	font-size: 12px;
	color: #d3d3d3;
	font-family: 'Pixel-LCD-7', sans-serif;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #d3d3d3;	color: #d3d3d3;
}

::-webkit-input-placeholder
{
	color: #d3d3d3;
}

:-moz-placeholder /* Firefox 18- */
{
	color:#d3d3d3;
}

::-moz-placeholder  /* Firefox 19+ */
{
	color:#d3d3d3;
}

:-ms-input-placeholder
{
	color:#d3d3d3;
}

#todo-text
{
	width: 120px;
}
#new-todo-text
{
	width: 90px;
}

#todos, #todos li
{
	font-family: 'Pixel', sans-serif;
	font-size: 14px;
	display: block;
	max-height: 15px;
}

.deleteButton
{
	font-family: 'Pixel', sans-serif;
	font-size: 14px;
	border: none;
	color: #d3d3d3;
	opacity: .8;
	text-shadow: -1px -1px 0  #000, 1px -1px 0  #000, -1px 1px 0  #000, 1px 1px 0  #000;
}
