@font-face {
font-family: 'Pixel';
font-style: normal;
font-weight: 300;
src: local('LLPIXEL3'), url('font/LLPIXEL3.ttf');
}

@font-face {
font-family: 'Pixel-LCD';
font-style: normal;
font-weight: 300;
src: local('Pixel-LCD-7'), url('font/pixel_lcd7/Pixel-LCD-7.ttf');
}